.text {
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.primary-heading {
  color: #007bff;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5em;
}

.secondary-heading {
  color: #343a40;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.8em;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#home {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#home .banner {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(60%);
}

#home .hero-heading {
  color: white;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}

#home ul li {
  color: #555;
  padding-bottom: 10px;
  margin-left: 50px;
}

#home ul li span {
  font-weight: 700;
}

#home .image {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000001a;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

#home .bottom {
  text-align: center;
  margin-top: 30px;
}

#home button {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

#home button:hover {
  background-color: #32bb52;
  transition: 0.3s ease;
}

#about {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#about ul li {
  color: #555;
  padding-bottom: 10px;
}

#courses {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#courses video {
  margin-top: 20px;
  width: 100%;
}

#courses ul {
  padding-left: 60px;
}

#courses .heading {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding-bottom: 10px;
}

#courses ul li {
  color: #555;
  padding-bottom: 10px;
  margin-left: 50px;
}

#courses table .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px #0000000d;
}

#courses .table .thead {
  display: table-row;
  border-color: inherit;
}

#courses .table .tdata {
  vertical-align: middle;
}

#courses .bottom {
  text-align: center;
  margin-top: 30px;
}

#courses button {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

#courses button:hover {
  background-color: #32bb52;
  transition: 0.3s ease;
}

#contact {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#contact h5 {
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}
