.text {
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.primary-heading {
  color: #007bff;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5em;
}

.secondary-heading {
  color: #343a40;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.8em;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#home {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#home .hero-section {
  position: relative;
  margin-bottom: 40px;
}

#home .hero-section img {
  width: 100%;
  height: 300px;
  filter: brightness(60%);
}

#home .hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 90%;
}

#home .hero-heading h1 {
  font-size: 3.5em;
  margin-bottom: 15px;
}

#home .hero-heading p {
  font-size: 1.5em;
  margin-bottom: 25px;
}

#home ul li {
  color: #555;
  padding-bottom: 10px;
  margin-left: 50px;
}

#home ul li span {
  font-weight: 700;
}

#home .image img {
  width: 50%;
  object-fit: cover;
  height: 200px;
}

#home .image {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000001a;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

#home .bottom {
  text-align: center;
  margin-top: 30px;
}

#home .button {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

#home .button:hover {
  background-color: #32bb52;
  transition: 0.3s ease;
}

#about {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#about ul li {
  color: #555;
  padding-bottom: 10px;
}

#courses {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#courses .video-container {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: #000;
  overflow: hidden;
}

#courses .video-container video {
  width: 100%;
  height: auto;
}

#courses .video-container p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#courses ul {
  padding-left: 60px;
}

#courses .heading {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding-bottom: 10px;
}

#courses ul li {
  color: #555;
  padding-bottom: 10px;
  margin-left: 50px;
}

#courses table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  border: 1px gray;
}

#courses table thead th {
  background-color: #e9ecef;
  font-weight: 700;
  padding: 12px;
  color: #343a40;
}

#courses table tbody td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
  font-size: 0.95em;
}

#courses table tbody tr:nth-child(2n) {
  background-color: #f2f2f2;
}

#courses .bottom {
  text-align: center;
  margin-top: 30px;
}

#courses .button {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

#courses .button:hover {
  background-color: #32bb52;
  transition: 0.3s ease;
}

#contact {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000000d;
}

#contact h5 {
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}

#apply ol li {
  color: #555;
  padding-bottom: 15px;
  margin-left: 50px;
}

#apply ol {
  margin-bottom: 20px;
}

#apply table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  border: 1px gray;
}

#apply table thead th {
  background-color: #e9ecef;
  font-weight: 700;
  padding: 12px;
  color: #343a40;
}

#apply table tbody td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
  font-size: 0.95em;
}

#apply table tbody tr:nth-child(2n) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  #home .hero-heading h1 {
    font-size: 2.5em;
  }

  #home .hero-heading p {
    font-size: 1.2em;
  }

  #home .image {
    flex-direction: column;
  }

  #home .image img{
    width: 100%;
  }
}
